In [1]:
import numpy as np
import pandas as pd

In [29]:
trash = pd.read_excel("new_trash.xlsx")

###서울시 쓰레기통 총 합계

In [58]:
trash.count()

borough    5375
dtype: int64

### 각 구별 쓰레기통 개수

In [67]:
trash['borough'].unique()

array(['종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구',
       '동작구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구',
       '영등포구', '서초구', '강남구', '송파구', '강동구', '관악구', '도봉구'], dtype=object)

In [76]:
len(trash['borough'].unique())

25

In [90]:
admin_trash = trash['borough'].value_counts()

In [114]:
admin_trash = pd.DataFrame(admin_trash)

In [115]:
admin_trash

      borough
강남구       976
구로구       292
서대문구      290
강서구       287
도봉구       280
용산구       269
서초구       250
강북구       247
마포구       239
은평구       233
영등포구      224
종로구       201
중구        185
동작구       184
성동구       177
관악구       175
광진구       126
성북구       126
송파구       123
양천구       106
중랑구        93
노원구        91
동대문구       80
강동구        76
금천구        45

In [116]:
type(admin_trash)

pandas.core.frame.DataFrame

In [170]:
admin_areas = pd.read_excel("admin_areas.xlsx")

/usr/local/lib/python3.7/dist-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [171]:
admin_areas = admin_areas[['자치구별(2)','2021']]

In [172]:
admin_areas = admin_areas.set_index('자치구별(2)')

In [173]:
admin_areas

             2021
자치구별(2)
자치구별(2)        면적
자치구별(2)  면적 (km²)
소계         605.24
종로구         23.91
중구           9.96
용산구         21.87
성동구         16.86
광진구         17.06
동대문구        14.22
중랑구          18.5
성북구         24.58
강북구          23.6
도봉구         20.65
노원구         35.44
은평구         29.71
서대문구        17.63
마포구         23.85
양천구         17.41
강서구         41.45
구로구         20.12
금천구         13.02
영등포구        24.55
동작구         16.36
관악구         29.57
서초구         46.98
강남구          39.5
송파구         33.88
강동구         24.59

In [175]:
admin_areas = admin_areas.drop([admin_areas.index[0]])

In [176]:
admin_areas

           2021
자치구별(2)
소계       605.24
종로구       23.91
중구         9.96
용산구       21.87
성동구       16.86
광진구       17.06
동대문구      14.22
중랑구        18.5
성북구       24.58
강북구        23.6
도봉구       20.65
노원구       35.44
은평구       29.71
서대문구      17.63
마포구       23.85
양천구       17.41
강서구       41.45
구로구       20.12
금천구       13.02
영등포구      24.55
동작구       16.36
관악구       29.57
서초구       46.98
강남구        39.5
송파구       33.88
강동구       24.59