In [3]:
from IPython.core.display_functions import warnings
import numpy as np
import pandas as pd
warnings.simplefilter('ignore')

In [4]:
trash = pd.read_excel("../trash_can.xlsx")

In [5]:
trash.head()

   index 자치구명   도로명       세부위치     설치 지점     종류
0      1  종로구   사직로  경복궁역 4번출구   지하철역 입구  일반쓰레기
1      2  종로구   사직로  경복궁역 4번출구   지하철역 입구    재활용
2      3  종로구  자하문로    자하문로 28   도로(가로)변  일반쓰레기
3      4  종로구  자하문로    자하문로 28   도로(가로)변    재활용
4      5  종로구  자하문로    자하문로 44   도로(가로)변  일반쓰레기

In [6]:
trash.columns

Index(['index', '자치구명', '도로명', '세부위치', '설치 지점', '종류'], dtype='object')

In [7]:
trash.columns=['index','borough','road_name','location','point','category']

In [8]:
trash.isnull().sum()

index          0
borough        0
road_name    232
location       0
point         32
category       0
dtype: int64

In [9]:
trash['road_name']=trash['road_name'].fillna('none')

In [10]:
trash['point']=trash['point'].fillna('none')

In [11]:
trash.isnull().sum()

index        0
borough      0
road_name    0
location     0
point        0
category     0
dtype: int64

In [12]:
trash

,index,borough,road_name,location,point,category
0,1,종로구,사직로,경복궁역 4번출구,지하철역 입구,일반쓰레기
1,2,종로구,사직로,경복궁역 4번출구,지하철역 입구,재활용
2,3,종로구,자하문로,자하문로 28,도로(가로)변,일반쓰레기
3,4,종로구,자하문로,자하문로 28,도로(가로)변,재활용
4,5,종로구,자하문로,자하문로 44,도로(가로)변,일반쓰레기
...,...,...,...,...,...,...
5370,5371,도봉구,해등로,해등로3길 41,삼환빌라 앞 횡단보도,⑥ 횡단보도 입구
5371,5372,도봉구,해등로,해등로 103,창원초등학교 앞 횡단보도,⑥ 횡단보도 입구
5372,5373,도봉구,도봉산길,도봉산길 27,도봉고등학교 건너편 횡단보도,⑥ 횡단보도 입구
5373,5374,도봉구,도봉로,도봉동 620-23,신도봉사거리 도봉중학교방향 횡단보도,⑥ 횡단보도 입구
5374,5375,도봉구,해등로,해등로 32,창1동 서울가든아파트 버스정류장,"① 정류장(버스, 택시 등)"

In [13]:
trash.head()
list(set(trash['category']))

['② 재활용쓰레기',
 '재활용쓰레기',
 '일반쓰레기',
 '⑥ 횡단보도 입구',
 '재활용 수거용',
 '일반쓰레기수거용',
 '일반쓰레기 수거용',
 ' 재활용쓰레기',
 '재활용수거용',
 '담배꽁초, 음료컵',
 '② 재활용품 수거용',
 '일반+담배꽁초',
 '기타',
 '재활용',
 '① 정류장(버스, 택시 등)',
 '광장, 공원 등 다중집합장소',
 '① 일반쓰레기',
 '재활용수거 ',
 '① 일반쓰레기 수거용',
 '② 지하철역 입구',
 '① 정류장(버스 등)',
 '일반+담배꽁초 ',
 '담배꽁초',
 '항아리형',
 ' 일반쓰레기']

In [14]:
trash['category']=trash['category'].replace('② 재활용품 수거용','재활용쓰레기')
trash['category']=trash['category'].replace('재활용수거 ','재활용쓰레기')
trash['category']=trash['category'].replace(' 재활용쓰레기','재활용쓰레기')
trash['category']=trash['category'].replace('재활용','재활용쓰레기')
trash['category']=trash['category'].replace('② 재활용쓰레기','재활용쓰레기')
trash['category']=trash['category'].replace('재활용 수거용','재활용쓰레기')
trash['category']=trash['category'].replace('재활용수거용','재활용쓰레기')

In [15]:
list(set(trash['category']))

['담배꽁초, 음료컵',
 '① 일반쓰레기 수거용',
 '재활용쓰레기',
 '광장, 공원 등 다중집합장소',
 '① 정류장(버스, 택시 등)',
 '일반쓰레기',
 '① 일반쓰레기',
 '항아리형',
 ' 일반쓰레기',
 '② 지하철역 입구',
 '일반+담배꽁초',
 '① 정류장(버스 등)',
 '⑥ 횡단보도 입구',
 '일반+담배꽁초 ',
 '일반쓰레기수거용',
 '담배꽁초',
 '기타',
 '일반쓰레기 수거용']

In [16]:
trash['category']=trash['category'].replace('① 정류장(버스 등)','일반쓰레기')
trash['category']=trash['category'].replace('① 정류장(버스, 택시 등)','일반쓰레기')
trash['category']=trash['category'].replace('② 지하철역 입구','재활용쓰레기')
trash['category']=trash['category'].replace('⑥ 횡단보도 입구','재활용쓰레기')
trash['category']=trash['category'].replace('광장, 공원 등 다중집합장소','재활용쓰레기')
trash['category']=trash['category'].replace('기타','담배꽁초')

In [17]:
list(set(trash['category']))

['담배꽁초, 음료컵',
 '① 일반쓰레기 수거용',
 '재활용쓰레기',
 '일반쓰레기',
 '① 일반쓰레기',
 ' 일반쓰레기',
 '일반+담배꽁초',
 '일반+담배꽁초 ',
 '일반쓰레기수거용',
 '담배꽁초',
 '항아리형',
 '일반쓰레기 수거용']

In [18]:
trash['category']=trash['category'].replace('① 일반쓰레기','일반쓰레기')
trash['category']=trash['category'].replace('① 일반쓰레기 수거용','일반쓰레기')
trash['category']=trash['category'].replace('일반쓰레기수거용','일반쓰레기')
trash['category']=trash['category'].replace('일반쓰레기 수거용','일반쓰레기')
trash['category']=trash['category'].replace(' 일반쓰레기','일반쓰레기')

In [19]:
list(set(trash['category']))

['담배꽁초, 음료컵', '재활용쓰레기', '일반쓰레기', '일반+담배꽁초', '일반+담배꽁초 ', '담배꽁초', '항아리형']

In [20]:
trash['category']=trash['category'].replace('일반+담배꽁초 ','일반+담배꽁초')
trash['category']=trash['category'].replace('담배꽁초, 음료컵','담배꽁초')
list(set(trash['category']))

['재활용쓰레기', '일반쓰레기', '일반+담배꽁초', '담배꽁초', '항아리형']

In [21]:

trash.groupby(['borough','category'])

In [22]:
trash.borough.replace("강서", "강서구", inplace=True)

In [23]:
list(set(trash['borough']))

['강동구',
 '은평구',
 '강남구',
 '금천구',
 '영등포구',
 '관악구',
 '서초구',
 '종로구',
 '중구',
 '강북구',
 '성동구',
 '마포구',
 '동대문구',
 '송파구',
 '양천구',
 '성북구',
 '강서구',
 '서대문구',
 '도봉구',
 '용산구',
 '노원구',
 '동작구',
 '광진구',
 '구로구',
 '중랑구']

In [28]:
trash.to_excel('new_trash.xlsx')
trash.to_json('new_trash.json', orient='table', force_ascii=False)

In [25]:
trash['count']=1
trash_count=trash.groupby(['borough','category']).count()[['count']]

In [26]:
trash_count.to_excel('trash_count.xlsx')

In [29]:

trash_count.to_json('trash_count.json', orient='table', force_ascii=False)